.home-container {
  padding: 10vw 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.hero-container {
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  height: fit-content;
  text-align: center;
}
.title {
  font-weight: bold;
  font-size: 1.2rem;
}
.description {
  padding-top: 20px;
  font-size: 1rem;
}
.values-list {
  margin: 14px 30px 0 30px;
}
.value-text {
  padding-top: 10px;
}
.home-button {
  color: black;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  margin-top: 30px;
  font-size: 1rem;
  text-decoration: none;
}
.home-button:hover {
  background-color: #f4bcb4;
  transition-duration: 200ms;
}
.home-button-link {
  color: black;
  text-decoration: none;
}
@media (max-width: 830px) {
  .description {
    padding-top: 20px;
    font-size: 0.7rem;
  }
}

@media (max-width: 610px) {
  .hero-container {
    background-color: white;
    border: 2px solid black;
    border-radius: 16px;
    padding: 15px;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    row-gap: 18px;
    height: fit-content;
    text-align: center;
  }
  .description {
    padding-top: 20px;
    font-size: 0.8rem;
  }
}
