@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #fef6e1;
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}
button {
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}
.main {
  min-height: 100vh;
}
